Web SOA/SoaTeam/src/conf/xml-resources/web-service-references/WSTM_1/wsdl/localhost_8080/WSTM/WSTM.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSTMp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSTMp/" name="WSTM">
<types>
<xsd:schema>
<xsd:import namespace="http://WSTMp/" schemaLocation="http://localhost:8080/WSTM/WSTM?xsd=1"/>
</xsd:schema>
</types>
<message name="revoke">
<part name="parameters" element="tns:revoke"/>
</message>
<message name="revokeResponse">
<part name="parameters" element="tns:revokeResponse"/>
</message>
<message name="getAmt">
<part name="parameters" element="tns:getAmt"/>
</message>
<message name="getAmtResponse">
<part name="parameters" element="tns:getAmtResponse"/>
</message>
<message name="playerDetails">
<part name="parameters" element="tns:playerDetails"/>
</message>
<message name="playerDetailsResponse">
<part name="parameters" element="tns:playerDetailsResponse"/>
</message>
<message name="avail">
<part name="parameters" element="tns:avail"/>
</message>
<message name="availResponse">
<part name="parameters" element="tns:availResponse"/>
</message>
<message name="sign">
<part name="parameters" element="tns:sign"/>
</message>
<message name="signResponse">
<part name="parameters" element="tns:signResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WSTM">
<operation name="revoke">
<input wsam:Action="http://WSTMp/WSTM/revokeRequest" message="tns:revoke"/>
<output wsam:Action="http://WSTMp/WSTM/revokeResponse" message="tns:revokeResponse"/>
</operation>
<operation name="getAmt">
<input wsam:Action="http://WSTMp/WSTM/getAmtRequest" message="tns:getAmt"/>
<output wsam:Action="http://WSTMp/WSTM/getAmtResponse" message="tns:getAmtResponse"/>
</operation>
<operation name="playerDetails">
<input wsam:Action="http://WSTMp/WSTM/playerDetailsRequest" message="tns:playerDetails"/>
<output wsam:Action="http://WSTMp/WSTM/playerDetailsResponse" message="tns:playerDetailsResponse"/>
</operation>
<operation name="avail">
<input wsam:Action="http://WSTMp/WSTM/availRequest" message="tns:avail"/>
<output wsam:Action="http://WSTMp/WSTM/availResponse" message="tns:availResponse"/>
</operation>
<operation name="sign">
<input wsam:Action="http://WSTMp/WSTM/signRequest" message="tns:sign"/>
<output wsam:Action="http://WSTMp/WSTM/signResponse" message="tns:signResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WSTMp/WSTM/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WSTMp/WSTM/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WSTMPortBinding" type="tns:WSTM">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="revoke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="playerDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="avail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sign">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSTM">
<port name="WSTMPort" binding="tns:WSTMPortBinding">
<soap:address location="http://localhost:8080/WSTM/WSTM"/>
</port>
</service>
</definitions>