Web SOA/SoaTeam/src/conf/xml-resources/web-service-references/WSTM_1/wsdl/localhost_8080/WSTM/WSTM.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSTMp/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSTMp/">

<xs:element name="avail" type="tns:avail"/>

<xs:element name="availResponse" type="tns:availResponse"/>

<xs:element name="getAmt" type="tns:getAmt"/>

<xs:element name="getAmtResponse" type="tns:getAmtResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="playerDetails" type="tns:playerDetails"/>

<xs:element name="playerDetailsResponse" type="tns:playerDetailsResponse"/>

<xs:element name="revoke" type="tns:revoke"/>

<xs:element name="revokeResponse" type="tns:revokeResponse"/>

<xs:element name="sign" type="tns:sign"/>

<xs:element name="signResponse" type="tns:signResponse"/>

<xs:complexType name="playerDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="playerDetailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAmt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAmtResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revoke">
<xs:sequence>
<xs:element name="cho" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revokeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sign">
<xs:sequence>
<xs:element name="choice" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avail">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="availResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>